@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<WebApplication1.Models.EF.New>
@{
    ViewData["Title"] = "Tin tuc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lí danh mục sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">danh mục</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh mục sản phẩm</h3>

            <div class="card-tools">

                <a href="/admin/new/add" class="btn btn-primary">thêm mới</a>
                <a href="#" class="btn btn-danger btnDeleteAll">xóa ô được chọn</a>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Index","New",FormMethod.Get))
            {
                <div class="search-container">


                    @Html.TextArea("SearchText", new { @class = "form-control", @id = "searchInput", @placeholder = "Nhập từ khóa tìm kiếm..." })
                    <button type="submit" id="searchButton">Tìm kiếm</button>
                    <style>
                        .search-container {
                            display: flex;
                            align-items: center;
                        }

                        #searchInput {
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            margin-right: 5px;
                            width: 270px;
                            height: 40px;
                        }

                            #searchInput:focus {
                                border-color: #007bff;
                                outline: none; /* Loại bỏ viền màu xanh khi focus */
                            }

                        #searchButton {
                            padding: 8px 16px;
                            background-color: #007bff;
                            color: white;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    </style>
                </div>
            }
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox"id="selectAllToDel"/></th>
                        <th>STT</th>
                        <th>Tên danh mục</th>
                        <th>Ngày tạo</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    <style>
                        .table img {
                            max-width: 100px;
                            height: 100px;
                        }
                    </style>
                    @if (Model != null && Model.Any())

                    {
                        var stt = 1;
                        @foreach (var item in Model)
                        {
                            <tr id="item_@item.Id">
                                <td><input type="checkbox" class = "select" value="@item.Id"/></td>
                                <td>@stt</td>
                                <td>@item.Title</td>
                                <td>@Html.Raw(item.CreatedDate?.ToString("dd/MM/yyyy"))</td>
                                <td>@Html.Raw(item.Detail)</td>
                                <td>
                                    <a href="/admin/new/edit/@item.Id" class="btn btn-primary">sửa</a>
                                    <a href="#" class="btn btn-danger btnDelete" data-id="@item.Id">xóa</a>

                                </td>
                            </tr>

                            stt++;
                        }
                    }


                    else
                    {
                        <tr>
                            <td colspan="3">Không có bản ghi nào</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', ".btnDeleteAll", function () {
                var ids = [];
                $('.select:checked').each(function () {
                    ids.push($(this).val());
                });

                var conf = confirm("Bạn có muốn xóa các bản ghi đã chọn không?");

                if (conf === true) {
                    $.ajax({
                        url: 'https://localhost:7141/admin/new/delete_selected',
                        type: 'POST',
                        data: { ids: ids },
                        success: function () {
                            ids.forEach(function (id) {
                                $('#item_' + id).remove();
                            });
                            if (ids != null && ids.length>0) {
                                alert("Xóa thành công các bản ghi.");
                            }
                            else {
                                alert("Không có  bản ghi nào để xóa.");
                            }
                        },
                        error: function (xhr, status, error) {
                            
                        }
                    });
                }
            });
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm("bạn có muốn xóa bản ghi này không ?");
                if (conf === true) {
                    $.ajax({
                        url:'https://localhost:7141/admin/new/delete',
                        type:'POST',
                        data: { Id:id },
                        success: function () {
                            alert("xóa thành công bản ghi: " + id);
                            $('#item_' + id).remove();
                        },
                        error: function (xhr, status, error) {

                            alert("xóa thất bại bản ghi: " + id);
                        }
                    })
                }
            });
            $('body').on('change', "#selectAllToDel", function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr("selected", "checked");
                    }
                    else {
                        checkbox.attr("selected", "");
                    }
                })
            })
        
        })
            

        
    </script>
}
