@model WebApplication1.Models.EF.Category
@{
    ViewData["Title"] = "Xóa danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Thêm danh mục</h2>
<div class="bs-stepper-content">
    @using (Html.BeginForm("Delete", "Category", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x=>x.Id)
        <div class="form-group">
            <label for="exampleInputEmail1">Tên danh mục</label>
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Nhập tên danh mục", @readonly = "readonly" })
            @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mô tả</label>
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Seotitle</label>
            @Html.TextAreaFor(x => x.SeoTitle, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">SeoDescription</label>
            @Html.TextAreaFor(x => x.SeoDescription, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">SeoKeywords</label>
            @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Thứ tự</label>
            @Html.TextBoxFor(x => x.Position, new { @class = "form-control", @Value = "1", @readonly = "readonly" })
        </div>
        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

            <a class="btn btn-info" href="/admin/category">Về trang Admin</a>
            <button type="submit" class="btn btn-success">Xóa</button>
        </div>
    }
    <!-- your steps content here -->

</div>

